/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
.bookmarkTools{
  width:100%;
  display:block;

  .dropdownMenu{
    width:100%;
  }
}

.bookmarkRow{
  td{
  vertical-align: middle;
  }
}

.hidden{
  position: absolute;
  left: -3000px;
}

.overlay{
  position: fixed;
  top:20px;
  z-index: 9999;
}

.si-check{
  color:green;
}
.si-delete{
  color:red;
}

.si-copy{
  color:darkblue;
  cursor: pointer;
}

.main-menu-item{
  text-align:center;
}

.red{
  color:red;
}

