<div class="row">
  <div class="col-2">
    <div class="card mb-3">
      <div class="card-block main-menu-item">
        <h4 class="card-title center">Bookmarks</h4>
        <a scMenuItemLink routerLink="/bookmarks" routerLinkActive="active">
          <sc-icon icon="star" size="xxxlarge"></sc-icon>
        </a>
        <p>Check and manage your bookmarked items</p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card mb-3">
      <div class="card-block main-menu-item">
        <h4 class="card-title center">Recent activities</h4>
        <a scMenuItemLink routerLink="/recentactivities" routerLinkActive="active">
          <sc-icon icon="clock" size="xxxlarge"></sc-icon>
        </a>
        <p>Check and manage your latest content editing activities</p>
      </div>
    </div>
  </div>
</div>