<div class="card mb-3" *ngIf="hasError">
  <div class="card-block">
    <h4 class="card-title red">
      <sc-icon icon="about" size="medium"></sc-icon>Generic error occured, please contact with your adminstrator!
    </h4>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <h1 class="card-title">Recent Activities</h1>
    <p>Manage your recent activities</p>
    <button scIconButton Title="Reload" (click)="load()">
        <sc-icon icon="arrow_circle2"></sc-icon>
    </button>
    <table scTable>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Templatename</th>
          <th>Path</th>
          <th>Workflow State</th>
          <th>Updated</th>
          <th>Is published</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!recentActivitiesIsLoading">

        <tr *ngFor="let data of recentActivities;" class="bookmarkRow">
          <td>
            <img src="{{data.IconPath}}" />
          </td>
          <td>
            {{ data.Name }}
            <input type="text" class="hidden" #itemIdTarget value="{{data.Id}}">
            <sc-icon icon="copy" title="Copy Item ID to clipboard" size="small" [ngxClipboard]="itemIdTarget">copy
            </sc-icon>
          </td>
          <td>{{ data.TemplateName }}</td>
          <td>{{ data.Path }}
            <input type="text" class="hidden" #itemPathTarget value="{{data.Path}}">
            <sc-icon icon="copy" title="Copy to clipboard" size="small" [ngxClipboard]="itemPathTarget">copy</sc-icon>
          </td>
          <td>{{ data.WorkflowState }}</td>
          <td>{{ data.Updated }}</td>
          <td >
            <sc-icon icon="check" title="Published" size="small" *ngIf="data.IsPublished"></sc-icon>
            <sc-icon icon="delete" title="Not published" size="small" *ngIf="!data.IsPublished"></sc-icon>
          </td>
          <td>
            <sc-dropdown class="bookmarkTools">
              <button scButton scDropdownToggle class="bookmarkTools">Tools</button>
              <sc-dropdown-menu class="dropdownMenu">
                <sc-dropdown-header>Content Editor</sc-dropdown-header>
                <a *ngFor="let lang of data.Languages" scDropdownItem
                  href="/sitecore/shell/Applications/Content%20Editor.aspx?fo={{data.Id}}&la={{lang}}&sc_lang=en">{{lang}}</a>


                <div *ngIf="data.HasPresentation">
                  <sc-dropdown-divider></sc-dropdown-divider>
                  <sc-dropdown-header>Exp Editor</sc-dropdown-header>
                  <a *ngFor="let lang of data.Languages" scDropdownItem
                    href="/?sc_mode=edit&sc_itemid={{data.Id}}&sc_lang={{lang}}">{{lang}}</a>
                </div>
                <div *ngIf="!data.IsPublished">
                    <sc-dropdown-divider></sc-dropdown-divider>
                    <a scDropdownItem (click)="publishItem(data.Id)">Publish</a>
                </div>
              </sc-dropdown-menu>
            </sc-dropdown>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <sc-progress-indicator-panel [show]="recentActivitiesIsLoading">
    </sc-progress-indicator-panel>
  </div>
</div>